<div class="search-form mt-5">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Tìm kiếm</label>
            <input type="text" name="tukhoa" placeholder="Nhập từ khóa..." class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>